.hero
{
    position: absolute;
    width:fit-content;
    height:fit-content;
    display: block;
    z-index: 99;
    left: 15%;
    top: 30%;
    background-color: none;
}
.hero span {
    background: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    color: aliceblue;
}
.hero span p{
    font-size: 110px;
    font-family:sans-serif;
    font-weight: 600;
}
.hero span:first-child{
    color: #0f0;
}
@media(max-width:800px)
{

}